.Test {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  max-width: 75%;
  padding: 8px;
}

ul {
  position: relative;
  z-index: 0;
}

li {
  position: relative;
  z-index: 0;
  list-style-type: none;
}

button {
  padding: 10px;
  font: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 34px;
}

h2 {
  margin: 2px 0 2px;
}
p {
  margin: 4px 0 4px;
}
header {
  display: flex;
  gap: 20px;
  align-items: center;
}
